html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
}

.img-container {
  margin-top: 0px;
  /* display: block; */
  margin-left: 75%;
  width: 40%;

  z-index: 10;
}

.img-style {
  height: 100px;
}

p {
  color: blue;
}
.email {
  color: white;
  text-decoration: none;
}
.call {
  color: seashell;
}
.welcome-section {
  /* display: block;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto; */
}

footer {
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: black;
  color: white;
  text-align: center;
  height: 110px;
}
nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: black;
  color: black;
  height: 110px;
}

.form-container {
  background: #f9f9f9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
