.img-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
p {
  color: blue;
}
.email {
  color: white;
  text-decoration: none;
}
.call {
  color: seashell;
}
.welcome-section {
  position: fixed;
  text-decoration: rgb(186, 186, 243);
}

footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: black;
  color: white;
  text-align: center;
  height: 110px;
}
